name: Push Docker Image to Cloudsmith

on:
  workflow_dispatch:

jobs:
  push-to-cloudsmith:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Build Helm chart
        shell: bash
        working-directory: helm/alpacka
        run: |
          helm dependency update
          helm package . --version 0.0.1 --app-version 0.0.1

      - name: Push to Cloudsmith
        shell: bash
        working-directory: helm/alpacka
        run: |
          echo "${{ secrets.CLOUDSMITH_API_KEY }}" | helm registry login helm.oci.cloudsmith.io --username simran-parwani --password-stdin
          helm push alpacka-0.0.1.tgz oci://helm.oci.cloudsmith.io/simran-parwani-testorg/helm
